@page
@model FormMaster.WEB.Pages.LoginModel
@{
    ViewData["Title"] = "Login page";
}

<form method="post">
    <div class="form-group">
        <label asp-for="LoginDto.Email"></label>
        <input class="form-control" asp-for="LoginDto.Email" />
        <span class="text-danger validation-message" asp-validation-for="LoginDto.Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="LoginDto.Password"></label>
        <input class="form-control" asp-for="LoginDto.Password" />
        <span class="text-danger validation-message" asp-validation-for="LoginDto.Password"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-success">Login</button>
</form>