@page
@using FormMaster.BLL.DTOs
@using Markdig
@model FormMaster.WEB.Pages.SearchResultModel
@{
}

<h4 class="fw-bold">Search result:</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Author</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var template in Model.Templates ?? Enumerable.Empty<HomeTemplateManipulationDto>())
        {
            <tr>
                <td>@template.Name</td>
                @{
                    var markdownDescription = Markdown.ToHtml(template?.Description ?? string.Empty);
                }
                <td>@Html.Raw(markdownDescription)</td>
                <td>@template.User.UserName</td>
                <td>
                    <a class="btn btn-primary" href="/Template?TemplateId=@template.TemplateId">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>