@page
@model FormMaster.WEB.Pages.TemplateConstructorModel
@{
    ViewData["Title"] = "Template constructor";
}

<form method="post" class="p-4 bg-light border rounded shadow-sm">
    <h3 class="mb-4">Registration Form</h3>

    <div class="form-group mb-3">
        <label asp-for="RegistrationDto.Name" class="form-label fw-bold"></label>
        <input class="form-control" asp-for="RegistrationDto.Name" />
        <span class="text-danger validation-message" asp-validation-for="RegistrationDto.Name"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="RegistrationDto.TopicId" class="form-label fw-bold"></label>
        <select asp-for="RegistrationDto.TopicId" asp-items="@Model.Topics" class="form-control">
            <option value="">Select members</option>
        </select>
        <span class="text-danger validation-message" asp-validation-for="RegistrationDto.TopicId"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="RegistrationDto.Description" class="form-label fw-bold"></label>
        <textarea class="form-control" asp-for="RegistrationDto.Description"></textarea>
        <span class="text-danger validation-message" asp-validation-for="RegistrationDto.Description"></span>
    </div>

    <div class="form-group mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="is-public-check-box" asp-for="RegistrationDto.IsPublic" />
        <label class="form-check-label" asp-for="RegistrationDto.IsPublic"></label>
    </div>

    <div class="form-group mb-3">
        <label asp-for="RegistrationDto.Tags" class="form-label fw-bold"></label>
        <input id="tags-input" class="form-control" asp-for="RegistrationDto.Tags" />
        <span class="text-danger validation-message" asp-validation-for="RegistrationDto.Tags"></span>
    </div>

    <div class="form-group mb-3" id="allowed-users">
        <label asp-for="RegistrationDto.AllowedUsers" class="form-label fw-bold"></label>
        <input id="users-input" class="form-control" asp-for="RegistrationDto.AllowedUsers" />
        <span class="text-danger validation-message" asp-validation-for="RegistrationDto.AllowedUsers"></span>
    </div>

    <button type="submit" class="btn btn-success w-100">Next</button>
</form>


@section Scripts {
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@yaireo/tagify"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">

    <script>
        const tagsFromViewData = @Html.Raw(ViewData["Tags"]);
        const usersFromViewData = @Html.Raw(ViewData["Users"]);
        const tagsInput = document.querySelector('#tags-input');
        const usersInput = document.querySelector('#users-input');
        const tagsTagify = new Tagify(tagsInput, {
            whitelist: tagsFromViewData,
            dropdown: {
                maxItems: 10,
                classname: 'tags-look',
                enabled: 0,
                closeOnSelect: false
            }
        });
        const usersTagify = new Tagify(usersInput, {
            whitelist: usersFromViewData,
            enforceWhitelist: true,
            dropdown: {
                maxItems: 10,
                classname: 'tags-look',
                enabled: 0,
                closeOnSelect: false
            }
        });
    </script>

    <script>
        const simplemde = new SimpleMDE({ element: document.querySelector("textarea") });
    </script>

    <script>
        const allowedUsersSection = document.querySelector('#allowed-users');
        const isPublicCheckbox = document.querySelector('#is-public-check-box');

        function updateAllowedUsersSection() {
            if (isPublicCheckbox.checked) {
                allowedUsersSection.style.display = "none";
            } else {
                allowedUsersSection.style.display = "block";
            }
        }

        document.addEventListener("DOMContentLoaded", () => {
            updateAllowedUsersSection();
        });

        isPublicCheckbox.addEventListener("change", updateAllowedUsersSection);
    </script>
}
    